@font-face {
  font-family: "iconfont"; /* Project id 2568655 */
  src: url('//at.alicdn.com/t/font_2568655_kkv0yry2i0i.woff2?t=1621865690389') format('woff2'),
       url('//at.alicdn.com/t/font_2568655_kkv0yry2i0i.woff?t=1621865690389') format('woff'),
       url('//at.alicdn.com/t/font_2568655_kkv0yry2i0i.ttf?t=1621865690389') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-shoucang:before {
  content: "\e613";
}

.icon-add:before {
  content: "\e65d";
}
