@font-face {
    font-family: 'FZCuHeiSongS-B-GB';
	src: "https://iccem0.oss-cn-shenzhen.aliyuncs.com/fzchsjwgb10_downyi.com.TTF";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

